nav {
  position: fixed;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.08);
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 0 10px;
  color: #05000e;

  .logo {
    width: 10vw;
  }

  .links {
    display: flex;

    & .link {
      padding: 0 10px;
      color: #05000e;
      font-size: clamp(0.8rem, 6vw, 1.3rem);
      text-decoration: none;
    }

    .icons {
      background-color: blue;

      i {
        width: 30px;
        height: 30px;
        border-color: black;
      }
    }
  }
}
