nav {
  position: absolute;
  background-color: hsl(16, 100%, 50%, 80%);
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;

  .link {
    color: #fff;
    text-decoration: none;
  }
}
