nav {
  position: absolute;
  background-color: hsl(16, 100%, 50%, 80%);
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 0 10px;
  color: #fff;

  .logo {
    width: 15vw;
  }

  .links {
    display: flex;

    & .link {
      padding: 0 10px;
      color: #fff;
      font-size: clamp(0.8rem, 6vw, 1.3rem);
      text-decoration: none;
    }

    .icons {
      background-color: blue;

      i {
        width: 30px;
        height: 30px;
        border-color: black;
      }
    }
  }
}
