.collection {
  text-align: left;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;

    .link {
      color: orange;
      text-decoration: none;
      font-weight: bold;
    }
  }

  & .items {
    display: flex;
    gap: 10px;
    margin-left: 6vw;
    overflow-x: scroll;
    padding-right: 5vw;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
