.homepage {
  // Hero Section
  & .hero {
    height: 100vh;
    background: linear-gradient(
      to top left,
      #ff000050,
      transparent,
      transparent
    );
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
    color: #05000e;
    padding: 0 25px;

    & > * {
      width: 50%;
    }

    .content {
      padding: 10px 25px;
      text-align: left;

      .welcome {
        background-color: #05000e;
        width: fit-content;
        color: #fff;
        height: 50px;
        margin-bottom: 2rem;
        padding: 10px 15px 10px 0;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        font-size: clamp(0.6rem, 6vw, 1rem);

        span {
          display: inline-block;
          background-color: #ff4501;
          padding: 10px;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
          border-bottom-left-radius: 30px;
        }
      }

      & h2,
      h3 {
        font-size: clamp(1rem, 10vw, 3.5rem);
      }

      h3 {
        color: orangered;
        padding-bottom: 1rem;
      }

      p {
        padding-bottom: 1rem;
      }

      .btns {
        display: flex;
        gap: 5px;

        Link {
          color: #fff;
          margin-right: 1rem;
        }
      }
    }

    .hero-image {
      width: 40%;
    }
  }

  // Service Group Section
  & .service-group {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;

    & .info {
      text-align: left;

      p {
        margin-top: 5px;
      }
    }
  }
}
